# Dataframes with Pandas

We will explore pandas and it's basic functionality. 
Three central concepts to pandas are:
- series
- dataframes
- index

In [1]:
import pandas as pd
import numpy as np

In [4]:
import seaborn as sns
tips = sns.load_dataset("tips")
tips.head(5)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
pd.__version__

'1.2.4'

## pd.Series
Is a one-dimensional data array

TODO:
1. Create a series
2. Look at the attributes: values, index
3. Access values, single and slices
4. Change the index
5. Create series from dictionary, list, numpy array, tuple

In [9]:
# 1. 
apples = pd.Series([55, 22, 33, 11, 36], index=['ica', 'willys', 'coop', 'hemköp', 'livs'])
apples

ica       55
willys    22
coop      33
hemköp    11
livs      36
dtype: int64

In [10]:
apples['willys']

22

In [12]:
series.index

Index(['ica', 'willys', 'coop', 'hemköp', 'livs'], dtype='object')

In [21]:
d1 = {11:1, 12:2, 13:3}
pd.Series(d1)

11    1
12    2
13    3
dtype: int64

### pd.DataFrame

A twodimensional data matrix. A dataframe as both rows (defined by the index) and columns. Each column is a pandas series.
To create a dataframe we need to supply data, names of columns, 

1. Create a simple empty dataframe
2. Create a dataframe from series

In [31]:
df = pd.DataFrame(data=[['katt', 6, 0.3], ['hund', 20, 0.6], ['fågel', 0.2, 0.1]], 
                        index=[1,2,3], columns=['animal', 'weight','height'])

In [37]:
type(df)

pandas.core.frame.DataFrame

In [41]:
animal = pd.Series(['katt', 'hund', 'fågel'])
weight = pd.Series([6, 20, 0.2])

df = pd.DataFrame({'animal':animal, 'weight':weight}, index=[1,2,3])
df

  animal  weight
1   hund    20.0
2  fågel     0.2
3    NaN     NaN

## pd.Index

The index that represents rows in a dataframe or elements in a series. AN index is immutable - can't be changed - which makes it safer to share between series or dataframes.

TODO:
1. Set operations as intersection, union etc

In [46]:
ind1 = pd.Index([1, 5, 6])
ind2 = pd.Index([1, 5, '6', 7])

ind1.symmetric_difference(ind2)
ind1.intersection(ind2)

Index([1, 5], dtype='object')

## Load data in different formats
- excel, csv, json

In [47]:
pokemon_df = pd.read_csv('Pokemon.csv')
iris_df = pd.read_json('iris.json')

## Show data

- Use head and tail
- column types: dtypes
- statistics: mean, sum, quantile -> describe

In [55]:
iris_df.head()

   sepalLength  sepalWidth  petalLength  petalWidth species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [56]:
pokemon_df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [57]:
pokemon_df.describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [58]:
iris_df.describe()

       sepalLength  sepalWidth  petalLength  petalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.057333     3.758000    1.199333
std       0.828066    0.435866     1.765298    0.762238
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [64]:
pokemon_df = pokemon_df.set_index('Name')
pokemon_df.head()

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False

In [65]:
pokemon_df.index

Index(['Bulbasaur', 'Ivysaur', 'Venusaur', 'VenusaurMega Venusaur',
       'Charmander', 'Charmeleon', 'Charizard', 'CharizardMega Charizard X',
       'CharizardMega Charizard Y', 'Squirtle',
       ...
       'Noibat', 'Noivern', 'Xerneas', 'Yveltal', 'Zygarde50% Forme',
       'Diancie', 'DiancieMega Diancie', 'HoopaHoopa Confined',
       'HoopaHoopa Unbound', 'Volcanion'],
      dtype='object', name='Name', length=800)

## Indexing and subset
- iloc - integer location 
- loc - location
- by column
- by column value


df['col0'] returns a **column**, not a row

In [60]:
iris_df.loc['ica']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepalLength, Length: 150, dtype: float64

In [78]:
pokemon_df.loc['Bulbasaur':'Venusaur']

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False

### Groupy by
df.groupby is a very useful function when we want to perform some calculation on different groups of data

In [79]:
df.groupby?

In [89]:
pokemon_df.groupby(by=['Type 1', 'Type 2'])[['Speed', 'Attack']].mean().head(25)

                      Speed      Attack
Type 1 Type 2
Bug    Electric   86.500000   62.000000
       Fighting   80.000000  155.000000
       Fire       80.000000   72.500000
       Flying     82.857143   70.142857
       Ghost      40.000000   90.000000
       Grass      44.500000   73.833333
       Ground     38.000000   62.000000
       Poison     65.916667   68.333333
       Rock       35.000000   56.666667
       Steel      63.428571  114.714286
       Water      65.000000   30.000000
Dark   Dragon     64.666667   85.000000
       Fighting   53.000000   82.500000
       Fire       91.666667   80.000000
       Flying     80.200000   92.200000
       Ghost      35.000000   80.000000
       Ice       120.000000  107.500000
       Psychic    59.000000   73.000000
       Steel      65.000000  105.000000
Dragon Electric   90.000000  150.000000
       Fairy      80.000000  110.000000
       Fire       90.000000  120.000000
       Flying     98.333333  135.666667
       Ground     82.600000  112.000000
       Ice        95.000000  140.000000

### Iteration
Not good practise but may be necessary sometimes
- iteration av series och dataframes
- df.items()
- df.iterrows()
- never modify what you're iterating over!!!

In [99]:
for col in iris_df.items():
    print(col)
    break

('sepalLength', 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepalLength, Length: 150, dtype: float64)

### Sorting

Pandas can sort in three different ways, based on:
- column values
- row values
- a combination of both

In [92]:
pokemon_df.sort_values('HP', ascending=False)

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Blissey,242,Normal,NaN,540,255,10,10,75,135,55,2,False
Chansey,113,Normal,NaN,450,250,5,5,35,105,50,1,False
Wobbuffet,202,Psychic,NaN,405,190,33,58,33,58,33,2,False
Wailord,321,Water,NaN,500,170,90,45,90,45,60,3,False
Alomomola,594,Water,NaN,470,165,75,80,40,45,65,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Magikarp,129,Water,NaN,200,20,10,55,15,20,80,1,False
Feebas,349,Water,NaN,200,20,15,20,10,55,80,3,False
Duskull,355,Ghost,NaN,295,20,40,90,30,90,25,3,False
Diglett,50,Ground,NaN,265,10,55,25,35,45,95,1,False
Shedinja,292,Bug,Ghost,236,1,90,45,30,30,40,3,False

## Cleaning out missing or corrupted data

- We will consider missing/corrupt data as NaN values
- We have two apporaches:
    1. Replace them with some other value
    2. Throw them away

In [100]:
mask = np.zeros(pokemon_df.shape, dtype=bool)
mask[30:35, 3:5] = True
pokemon_df[mask] = np.nan
pokemon_df.iloc[25:36]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Raticate,20,Normal,NaN,413.0,55.0,81,60,50,70,97,1,False
Spearow,21,Normal,Flying,262.0,40.0,60,30,31,31,70,1,False
Fearow,22,Normal,Flying,442.0,65.0,90,65,61,61,100,1,False
Ekans,23,Poison,NaN,288.0,35.0,60,44,40,54,55,1,False
Arbok,24,Poison,NaN,438.0,60.0,85,69,65,79,80,1,False
Pikachu,25,Electric,NaN,NaN,NaN,55,40,50,50,90,1,False
Raichu,26,Electric,NaN,NaN,NaN,90,55,90,80,110,1,False
Sandshrew,27,Ground,NaN,NaN,NaN,75,85,20,30,40,1,False
Sandslash,28,Ground,NaN,NaN,NaN,100,110,45,55,65,1,False
Nidoran♀,29,Poison,NaN,NaN,NaN,47,52,40,40,41,1,False
Nidorina,30,Poison,NaN,365.0,70.0,62,67,55,55,56,1,False

In [101]:
pokemon_df.loc['Pikachu']

#                   25
Type 1        Electric
Type 2             NaN
Total              NaN
HP                 NaN
Attack              55
Defense             40
Sp. Atk             50
Sp. Def             50
Speed               90
Generation           1
Legendary        False
Name: Pikachu, dtype: object

In [102]:
df = pokemon_df.dropna()
df.iloc[25:36]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Gloom,44,Grass,Poison,395.0,60.0,65,70,85,75,40,1,False
Vileplume,45,Grass,Poison,490.0,75.0,80,85,110,90,50,1,False
Paras,46,Bug,Grass,285.0,35.0,70,55,45,55,25,1,False
Parasect,47,Bug,Grass,405.0,60.0,95,80,60,80,30,1,False
Venonat,48,Bug,Poison,305.0,60.0,55,50,40,55,45,1,False
Venomoth,49,Bug,Poison,450.0,70.0,65,60,90,75,90,1,False
Poliwrath,62,Water,Fighting,510.0,90.0,95,95,70,90,70,1,False
Bellsprout,69,Grass,Poison,300.0,50.0,75,35,70,30,40,1,False
Weepinbell,70,Grass,Poison,390.0,65.0,90,50,85,45,55,1,False
Victreebel,71,Grass,Poison,490.0,80.0,105,65,100,70,70,1,False
Tentacool,72,Water,Poison,335.0,40.0,40,35,50,100,70,1,False

In [103]:
df = pokemon_df.fillna(0)
df.iloc[25:36]

,#,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,,
Raticate,20,Normal,0,413.0,55.0,81,60,50,70,97,1,False
Spearow,21,Normal,Flying,262.0,40.0,60,30,31,31,70,1,False
Fearow,22,Normal,Flying,442.0,65.0,90,65,61,61,100,1,False
Ekans,23,Poison,0,288.0,35.0,60,44,40,54,55,1,False
Arbok,24,Poison,0,438.0,60.0,85,69,65,79,80,1,False
Pikachu,25,Electric,0,0.0,0.0,55,40,50,50,90,1,False
Raichu,26,Electric,0,0.0,0.0,90,55,90,80,110,1,False
Sandshrew,27,Ground,0,0.0,0.0,75,85,20,30,40,1,False
Sandslash,28,Ground,0,0.0,0.0,100,110,45,55,65,1,False
Nidoran♀,29,Poison,0,0.0,0.0,47,52,40,40,41,1,False
Nidorina,30,Poison,0,365.0,70.0,62,67,55,55,56,1,False

## pd.Eval
Is a way to compute an expression on your dataframe automatically and can be very useful. The expression has to be written in a pythonic way.

In [52]:
pd.eval?

In [110]:
df = pd.DataFrame({
    'Algorithm': ['XGBoost', 'DNN', 'Perceptron'],
    'MSE': [63.3234, 51.8182, 78.231],
    'Cost': [12, 38, 8]
})
df

    Algorithm      MSE  Cost
0     XGBoost  63.3234    12
1         DNN  51.8182    38
2  Perceptron  78.2310     8

In [109]:
df = pd.eval('RMSE = df.MSE ** 0.5', target=df)
df

    Algorithm      MSE  Cost      RMSE
0     XGBoost  63.3234    12  7.957600
1         DNN  51.8182    38  7.198486
2  Perceptron  78.2310     8  8.844829

## inplace=True 

We explicitly have to tell pandas make changes to our dataframe, otherwise it will just return a new df and keep the original intact

In [113]:
df = df.set_index('Algorithm')

                MSE  Cost
Algorithm
XGBoost     63.3234    12
DNN         51.8182    38
Perceptron  78.2310     8

## df.query

Like pd.eval we can use df.query to query in a pythonic way

In [115]:
df.query('MSE > 50 and Cost > 10')

               MSE  Cost
Algorithm
XGBoost    63.3234    12
DNN        51.8182    38